<template>
  <div id="app" class="container">
    <div class="card card-body bg-light">
      <div class="title">:: Todolist App</div>
    </div>
    <div class="card card-default card-borderless">
      <div class="card-body">
        <InputTodo />
        <TodoList :todoList="todoList" />
      </div>
    </div>
  </div>
</template>

<script>
  import TodoList from './components/TodoList.vue'
  import InputTodo from './components/InputTodo.vue'

  let ts = new Date().getTime()

  export default {
    name: 'App',
    components: { InputTodo, TodoList },
    created() {
      this.emitter.on('add-todo', this.addTodo)
      this.emitter.on('delete-todo', this.deleteTodo)
      this.emitter.on('toggle-completed', this.toggleCompleted)
    },
    data() {
    return {
    todoList: }}
  }
</script>
