<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스타일 적용</title>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnAlign {
        text-align: center;
        width: 212px;
      }
      .btnBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <h1>06 스타일 적용</h1>
    <h2>6.3 CSS 클래스 바인딩</h2>
    <ul>
      <li>
        CSS 클래스를 지정하기 위해 v-bind:class="..." 또는 :class="..." 사용
      </li>
      <li>
        2가지 방법:
        <ol>
          <li>CSS 클래스명 문자열을 바인딩하는 방법</li>
          <li>true/false 값을 가진 객체를 바인딩하는 방법</li>
        </ol>
      </li>
    </ul>
    <h3>1) CSS 클래스명 문자열을 바인딩하는 방법</h3>
    <ul>
      <li>
        데이터나 속성에 CSS 클래스명 문자열을 할당하여 이 값을 :class로
        바인딩하는 방법
      </li>
      <hr
        style="border: none; /* 기본 테두리 제거 */ border-top: 2px dotted #000"
      />
      <li>여러 개의 데이터 값을 클래스로 바인딩 하는 방법</li>
      <hr
        style="border: none; /* 기본 테두리 제거 */ border-top: 2px dotted #000"
      />
      <li>3항 연산식과 조합하면 동적으로 클래스의 바인딩 여부 결정 가능!</li>
    </ul>
    <h3>
      2) true/false 값을 가진
      <span style="background-color: lightpink">객체를 바인딩하는 방법</span>
    </h3>
    <ul>
      <li>:class에 바인딩 할 때 객체 생성</li>
      <hr
        style="border: none; /* 기본 테두리 제거 */ border-top: 2px dotted #000"
      />
      <h3>(continued 1)</h3>
      <li>최적화
        <ul>
          <li>data() {}에서 myStyle 객테로 초기화
            <ul>
              <li>myStyle 객체 내부의 속성명은 CSS 클래스명과 동일하게 지정</li>
              <li>이 객체는 :claa="myStyle"로 직접 바인딩 됨</li>
              <li>이런 HTML 요소가 하나가 아니라 여러 개라면 :class="myStyle"과 같이 간단하게 바인딩하는 것이 작성과 코드 유지에 더 도움이 될 것</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div id="app">
      <p>
        <input type="checkbox" v-model="btnStyle.btnColor" value="true" />색상</br>
        <input type="checkbox" v-model="btnStyle.btnAlign" value="true" />정렬, 크기</br>
        <input type="checkbox" v-model="btnStyle.btnBorder" value="true" />테두리선</br>
      </p>
      <button :class="btnStyle">
        버튼 1
      </button>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      const vm = Vue.createApp({
        name: "App",
        data() {
          return {
            btnStyle:{btnColor: false, btnAlign: false, btnBorder: false}
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
